!!! XML
!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml'  }
  %head
    = render 'admin/shared/head'
  %body{ :class => sections }
    #wrapper
      .container
        #header
          = render 'admin/shared/header'
          = render_cell 'admin/main_menu', :show

          #submenu
            %ul
              = yield :submenu

            - if content_for? :actions
              .action
                = yield :actions

        #content
          .inner
            %h2!= title

            #local-actions-bar
              &nbsp;
              = yield :buttons

            = yield

        #footer
          = render 'admin/shared/footer'
          :javascript
            var clicky_site_ids = clicky_site_ids || [];
            clicky_site_ids.push(66533826);
            (function() {
              var s = document.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = '//static.getclicky.com/js';
              ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
            })();
          %noscript
            %p
              %img{ alt: "Clicky", width: "1", height: "1", src: "//in.getclicky.com/66533826ns.gif" }